.todo-create {
  padding-bottom: 30px;
  border-bottom: 1px solid #e8e8e8;
}

.alert-danger {
  padding-left: 15px;
  font-size: 14px;
  color: red;
  padding-top: 5px;
}

.todo-title {
  width: calc(100% - 200px);
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-todos {
  text-align: center;
}
