<div class="todo-content">
	<h1 class="page-title">My Todos</h1>
	<div class="todo-create">
		<form #todoForm="ngForm" (ngSubmit)="createTodo(todoForm)" novalidate>
			<input type="text" id="title" class="form-control"
				placeholder="Type a todo and press enter..." required name="title"
				[(ngModel)]="newTodo.title" #title="ngModel">
			<div *ngIf="title.errors && title.dirty" class="alert alert-danger">
				<div [hidden]="!title.errors.required">Title is required.</div>
			</div>
			<!-- 1a -->
			<input type="radio" value="LOW" [(ngModel)]="newTodo.priority"
				name="priority"> <a class="LOW">LOW</a> 
			<input type="radio" value="MEDIUM" [(ngModel)]="newTodo.priority" 
				name="priority"> <a class="MEDIUM">MEDIUM</a>
			<input type="radio" value="HIGH" [(ngModel)]="newTodo.priority"
				name="priority"> <a class="HIGH">HIGH</a>
		</form>
	</div>
	<ul class="todo-list">
		<li *ngFor="let todo of todos; first as isFirst; last as isLast">
			<app-todo-item [todo]="todo" [isFirst]="isFirst" [isLast]="isLast" [parent]="this"></app-todo-item>
		</li>
	</ul>
	<div class="no-todos" *ngIf="todos && todos.length == 0">
		<p>No Todos Found!</p>
	</div>
</div>
