
i {
  vertical-align: middle;
  color: #626262;
}

input {
  border: 1px solid #E8E8E8;
}

.form-control {
  font-size: 16px;
  padding-left: 15px;
  outline: none;
  border: 1px solid #E8E8E8;
}

.form-control:focus {
  border: 1px solid #626262;
}

.form-control {
  width: 100%;
  height: 50px;
}

span {
  display: inline-block;
  vertical-align: middle;
}

.todo-completed {
  display: inline-block;
  text-align: center;
  width:35px;
  height:35px;
  cursor: pointer;
}

.todo-completed i {
  font-size: 20px;
}

.todo-actions, .edit-actions {
    float: right;
}

.todo-actions i, .edit-actions i {
    font-size: 17px;
}

.todo-actions a, .edit-actions a {
  display: inline-block;
  text-align: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.todo-actions a:hover, .edit-actions a:hover {
  background-color: #f4f4f4;
}

.todo-edit input text{
  width: calc(100% - 80px);
  height: 35px;
}

/* 1a */
.todo-edit {
	color: black;
}

.edit-actions {
  text-align: right;
}

.toggle-completed-checkbox:before {
  content: 'check_box_outline_blank';
}

div.completed .toggle-completed-checkbox:before {
  content: 'check_box';
}

div.completed .todo-title {
  text-decoration: line-through;
  color: #757575;
}

div.completed :not(no-click) {
  color: #757575;
}

/* 1b */
.LOW {
	color: #008000;
}

/* 1b */
 .MEDIUM {
	color: #FFCC00;
}

/* 1b */
 .HIGH {
	color: #FF0000;
}

.no-click {
	color: #bbb;
	cursor: default;
}

.clickable {
	cursor: pointer;
}

.select-item-btn {
	float: left;
	background-color: #00ACCA;	
	border: none;
	border-radius: 3px;
	font-weight: bolder;
	cursor: pointer;
}

.child-section {
	padding-left: 30px;
}


.selected-todo {
	background-color: #AAEEDD;
}
